<h1>Welcome to the idea new page!</h1>
<%= form_for @idea do |f| %>

<%= f.label :idea %>
<%= f.text_field :idea %>
<%= f.label :category %>
<%= f.collection_select :category_id, Category.all, :id, :name, :prompt => true %>
<%= f.submit %>
<% end %>
