<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3"><%= @idea.idea %></h1>
  </div>
</div>

<div class="container">
  <table class="table table-hover text-left">
    <thead>
      <tr>

       <th><h3>Idea</h3></th>
        <th><h3>Category</h3></th>
          <th><h3>Edit</h3></th>
          <th><h3>Delete</h3></th>
        </tr>
      </thead>
      <tbody>


<td><h4><%= @idea.idea %></h4></td>
<td><h4><%= @idea.category.name %></h4></td>
<td><h4><%= link_to "Edit", edit_user_idea_path(@user, @idea), class: "btn btn-success" %></h4></td>
<td><h4><%= link_to "Delete", user_idea_path(@user, @idea), method: :delete, class: "btn btn-danger" %></h4></td>
</tr>
      </tbody>
  </table>
</div>
<div class="text-center">
<h2>Images</h2>
<% @images.each do |image| %>
<p><img src=<% image.url %>
<%= image.url %>
<% end %>
</div>
